<launch> 
<!-- AirSim all -->
<!--	<include file="$(find airsim_ros_pkgs)/launch/airsim_all.launch"/>-->
<!-- Change sequence Node -->
	<!--<include file="$(find cinempc)/launch/change_sequence_node.launch"/>	-->
<!-- Cinempc solver node -->
<!-- Cinempc main node -->
	<!-- <include file="$(find cinempc)/launch/cine_mpc_main_node.launch"/>	 -->
	<node name="cinempc_mpc_node" pkg="cinempc" type="cinempc_mpc_node"  output="screen"></node>  
	<node name="scene_node" pkg="cinempc" type="scene_node"  output="screen"></node>
<!--	<node name="cinempc_main_node" pkg="cinempc" type="cinempc_main_node"  output="screen"></node>-->
	<node name="cinempc_perception_measurement_node" pkg="cinempc" type="cinempc_perception_measurement_node"  output="screen"></node>
	<node name="change_sequence_node" pkg="cinempc" type="change_sequence_node"  output="screen"></node>
	<node name="cinempc_low_level_node" pkg="cinempc" type="cinempc_low_level_node"  output="screen"></node>
	<node name="cinempc_perception_estimation_node" pkg="cinempc" type="cinempc_perception_estimation_node"  output="screen"></node>
	<node name="cinempc_user_node" pkg="cinempc" type="cinempc_user_node"  output="screen">
	</node>
</launch>